<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SerialPortNameOverride" value="COM3"/>
    <add key="SignalRServer" value="http://localhost:63915/signalR"/>
    <add key="ApiServer" value="http://localhost:63915/api/"/>
    <add key="RoomAddress" value="matrix@rightpoint.com"/>
    <add key="RedPin" value="0"/>
    <add key="GreenPin" value="1"/>
    <add key="BluePin" value="2"/>
  </appSettings>
</configuration>