<div class="room">
    <div ng-if="c.loadsInProgress">LOADING - {{ c.loadsInProgress }}</div>
    <h3 class="date">
        {{ c.currentTime().format('ddd M/DD') }}
    </h3>
    <div class="buttons btn-group">
        <button class="btn" ng-click="c.refresh()">Refresh</button>
        <button class="btn" ng-if="!c.hasSecurityRights" ng-click="c.requestControl()">Request Control</button>
        <button class="btn" ng-click="c.start(c.current)" ng-if="c.current && c.hasSecurityRights &&!c.current.IsStarted">{{ current.isInFuture ? 'Start Early' : 'Start' }}</button>
        <button class="btn" ng-click="c.cancel(c.current)" ng-if="c.current && c.hasSecurityRights &&!c.current.IsStarted">Cancel</button>
        <button class="btn" ng-click="c.end(c.current)" ng-if="c.current && c.hasSecurityRights &&c.current.IsStarted">End early</button>
        <button class="btn" ng-click="c.endAndStartNext(c.current, c.next)" ng-if="c.current && c.hasSecurityRights && c.current.IsStarted && c.next && c.moment(c.next.Start).diff(c.currentTime(), 'minutes') < 10">End early and start next meeting</button>
    </div>
    <h3>{{c.displayName}}</h3>
    <div class="current-appointment">
        <div ng-if="c.current">
            <h4>{{c.current.Subject}}</h4>
            <h5>{{c.current.Organizer}}</h5>
            <p>{{ c.moment(c.current.Start).format('h:mm a') }} - {{ c.moment(c.current.End).format('h:mm a') }}</p>
        </div>
    </div>
    <div class="today-free-busy">
        <!-- something with nested progress bars? -->
    </div>
    <div class="timeline" ng-show="c.timeline">
        <div class="marker" style="left: {{ marker.position * 100 }}%" ng-repeat="marker in c.timeline.markers">{{ marker.time ? c.moment(marker.time).format('h') : '' }}</div>
        <div class="progress">
            <div ng-repeat="range in c.timeline.ranges track by $index"
                 title="{{ range.appointment ? (range.appointment.Subject + ': ' + c.moment(range.appointment.Start).format('h:mm a') + ' - ' + c.moment(range.appointment.End).format('h:mm a') ) : 'Free' }}"
                 class="progress-bar"
                 ng-class="{ 'progress-bar-success': !range.appointment, 'progress-bar-danger': !!range.appointment, 'progress-bar-striped' : ((range.appointment && range.appointment.IsStarted) || range.isLoading || range.isHovered) }"
                 ng-mouseenter="range.isHovered = true"
                 ng-mouseleave="range.isHovered = false"
                 style="width: {{ range.size * 100}}%">
                <span class="sr-only"></span>
            </div>
            <div class="marker now" style="left: {{ c.timeline.now.position * 100 }}%">{{ c.moment(c.timeline.now.time).format('h:mm a') }}</div>
        </div>
    </div>
</div>
