<div class="room">
    <header data-title="{{ c.displayName }}"></header>
    <div class="content">
        <div class="actions">
            <div class="meet-now" ng-if="c.showMeetNow()">
                <h2>Book Until</h2>
                <time-slider selected-minutes="c.meetNowMinutes" selected-time="c.meetNowTime" max-time="c.current.Start"></time-slider>
                <a href ng-click="c.meetNow()">Meet Now</a>
            </div>
            <div class="current-meeting" ng-if="c.current && (!c.isCurrentInFuture() || c.current.IsStarted)">
                <h2>Current Meeting</h2>
                <h3>{{ c.current.Organizer }}</h3>
                <h4>{{ c.current.Subject }}</h4>
                <a href class="start" ng-if="c.showStartEarly()" ng-click="c.start(c.current)">Start Early</a>
                <a href class="start" ng-if="c.showStart()" ng-click="c.start(c.current)">Start</a>
                <a href class="end"  ng-if="c.showEndEarly()" ng-click="c.end(c.current)">End Early</a>
            </div>
            <div class="next-meeting" ng-if="c.current && c.isCurrentInFuture() && !c.current.IsStarted && c.isCurrentToday()">
                <h2>Next Meeting <span class="meeting-time">({{ c.formatTime(c.current.Start) }})</span></h2>
                <h3>{{ c.current.Organizer }}</h3>
                <h4>{{ c.current.Subject }}</h4>
                <a href class="start" ng-if="c.showStartEarly()" ng-click="c.start(c.current)">Start Early</a>
            </div>
            <div class="next-meeting" ng-if="c.next && !c.isCurrentInFuture() && c.isNextToday()">
                <h2>Next Meeting <span class="meeting-time">({{ c.formatTime(c.next.Start) }})</span></h2>
                <h3>{{ c.next.Organizer }}</h3>
                <h4>{{ c.next.Subject }}</h4>
                <a href class="start" ng-if="c.showEndAndStartNext()" ng-click="c.endAndStartNext(c.current, c.next)">Start Early</a>
            </div>
            <h2 class="time" ui-sref="settings">
                {{ c.currentTime().format('h:mm A') }}
            </h2>
            <div class="door-control" ng-if="c.hasControllableDoor">
                <div class="btn-group">
                    <button class="btn btn-lg" ng-click="c.openDoor()">Open</button>
                    <button class="btn btn-lg" ng-click="c.closeDoor()">Close</button>
                </div>
            </div>
        </div>
        <div class="calendar-area">
            <simple-calendar calendars="[ { DisplayName: c.displayName, NearTermMeetings: c.appointments, CurrentMeeting: c.current } ]" show-titles="false"></simple-calendar>
        </div>
    </div>
    <div class="loading-background" ng-if="c.isLoading"></div>
    <div class="loading-foreground" ng-if="c.isLoading">
        <!--<big-spinner active="true"></big-spinner>-->
        <div class="rp-logo-spinner">
            <div class="o-load"></div>
        </div>
    </div>
</div>
