// bower-refonly:less
// endbower

@import "../variables.less";

.room {
    .loading-background, .loading-foreground {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1001;
        .o-load {
            line-height: 0;
            font-size: 65px;
            color: @rp-orange;
            height: 65px;
            width: 65px;
            animation: loadSpin 2.5s cubic-bezier(.52,-.8,.3,1.94) infinite both;
        }
        .rp-logo-spinner {
            width: 65px;
            margin: 180px auto;
        }

        @keyframes loadSpin {
            0% {
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(720deg);
                -o-transform: rotate(720deg);
                -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
            }
        }
    }
    .loading-background {
        background-color: white;
        opacity: 0.70;
    }
    .loading-foreground {
    }
    .content {
        &, .actions, .calendar-area {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        body & {
            top: 60px;
        }
        .actions {
            right: auto;
            width: 295px;
            background: @midBlue;
            a {
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                bottom: 0;
                text-transform: uppercase;
                text-align: center;
                padding: 8px;
                height: 40px;
                font-family: 'Open Sans';
                font-weight: 800;
                font-size: 18px;
                letter-spacing: 3.5px;
                color: @white;
            }
            .meet-now, .current-meeting, .next-meeting {
                padding: 13px 15px;
                box-shadow: 0 10px 19px 0 @black;
                position: relative;
                height: 153px;
                background: white;
                margin: 20px 20px 25px 20px;
                h2 {
                    margin-top: 0;
                    text-align: center;
                    font-family: 'Open Sans';
                    font-weight: bold;
                    font-size: 15px;
                    color: @dark-blue;
                    .meeting-time {
                        font-size: 10px;
                    }
                    margin-bottom: 19px;
                }
                h3 {
                    font-family: 'Open Sans';
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: normal;
                    color: black;
                    margin-bottom: 0;
                }
                h4 {
                    font-family: 'Open Sans';
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 1;
                    color: @black;
                    max-height: 40px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 0;
                    padding-bottom: 0.25em;
                  }
            }
            .meet-now a {
                background: @aqua;
            }
            .next-meeting {
                a {
                    background: @purple;
                }
            }
            .current-meeting {
                a {
                    background: @red;
                }
            }
            .time {
                position: absolute;
                bottom: 6px;
                left: 20px;
                font-family: 'Open Sans';
                font-weight: 300;
                font-size: 22px;
                color: #e6e6e6;
                margin-bottom: 0;
            }
            .door-control {
                position: absolute;
                bottom: 15px;
                right: 15px;
            }
        }
        .calendar-area {
            left: 295px;
            background: @black;
            .calendar {
                position: absolute;
                top: 50px;
                right: 15px;
                bottom: 15px;
                left: 15px;
            }
        }
    }
}