<div class="room">
    <div class="header">
        <h1 class="room-name">{{c.displayName}}</h3>
        <ul class="navigation">
            <li ui-sref-active="active"><a href ui-sref="room">Home</a></li>
            <li ui-sref-active="active"><a href ui-sref="find-room">Find a Room</a></li>
            <li ui-sref-active="active"><a href ui-sref="settings">Settings</a></li>
        <ul>
    </div>
    <div class="content">
        <div class="actions">
            <div class="meet-now" ng-if="c.showMeetNow()">
                <h2>Book For</h2>
                <div>15 - 30 - 45</div>
                <a href ng-click="c.meetNow()">Meet Now</a>
            </div>
            <div class="current-meeting" ng-if="c.current && !c.isCurrentInFuture()">
                <h2>Current Meeting</h2>
                <h3>{{ c.current.Organizer }}</h3>
                <h4>{{ c.current.Subject }}</h4>
                <a href ng-if="c.showStartEarly()" ng-click="c.start(c.current)">Start Early</a>
                <a href ng-if="c.showStart()" ng-click="c.start(c.current)">Start</a>
                <a href ng-if="c.showCancel()" ng-click="c.cancel(c.current)">Start</a>
                <a href ng-if="c.showEndEarly()" ng-click="c.end(c.current)">Start</a>
            </div>
            <div class="next-meeting" ng-if="c.current && c.isCurrentInFuture()">
                <h2>Next Meeting</h2>
                <h3>{{ c.current.Organizer }}</h3>
                <h4>{{ c.current.Subject }}</h4>
                <a href ng-if="c.showStartEarly()" ng-click="c.startEarly()">Start Early</a>
            </div>
            <div class="next-meeting" ng-if="c.next && !c.isCurrentInFuture()">
                <h2>Next Meeting</h2>
                <h3>{{ c.next.Organizer }}</h3>
                <h4>{{ c.next.Subject }}</h4>
                <a href ng-if="c.showEndAndStartNext()" ng-click="c.endAndStartNext(c.current, c.next)">Start Early</a>
            </div>
            <h2 class="time">
                {{ c.currentTime().format('h:mm A') }}
            </h2>
        </div>
        <div class="calendar-area">
            <div class="status">
                {{ status() }}
            </div>
            <calendar data="c.appointments"></calendar>
        </div>
    </div>
    <div class="buttons btn-group-vertical dropup" ng-class="{ 'btn-group-lg': c.isSmallScreen }" ng-if="false">
        <button class="btn btn-primary" ng-click="c.start(c.current)" ng-if="c.showStartEarly()">Start Early</button>
        <button class="btn btn-primary" ng-click="c.start(c.current)" ng-if="c.showStart()">Start</button>
        <button class="btn btn-primary" ng-click="c.cancel(c.current)" ng-if="c.showCancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="c.end(c.current)" ng-if="c.showEndEarly()">End early</button>
        <button class="btn btn-primary" ng-click="c.endAndStartNext(c.current, c.next)" ng-if="c.showEndAndStartNext()">End early &<br/>start next</button>
        <button class="btn btn-primary" ng-click="c.message(c.prev)" ng-if="c.showMessagePrev()">Tell previous<br/>"Time is Up"</button>
        <button class="btn btn-primary" ng-if="c.showAddNew()" data-toggle="modal" data-target="#addMeetingModal">New meeting</button>
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                More <span class="glyphicon glyphicon-chevron-left" style="font-size: 0.5em;"></span>
            </button>
            <div class="dropdown-menu" role="menu">
                <div class="btn-group-vertical">
                    <button class="btn btn-primary" ng-if="c.roomListAddress" ui-sref="roomList.details({ roomListAddress: c.roomListAddress })">Browse Rooms</button>
                    <button class="btn btn-primary" ng-if="!c.roomListAddress" ui-sref="roomList">Browse Rooms</button>
                    <button class="btn btn-primary" ng-if="!c.isDefaultRoom" ui-sref="home"><span class="glyphicon glyphicon-home"></span> Home</button>
                    <button class="btn btn-primary" ng-click="c.refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                    <button class="btn btn-primary" ng-if="!c.hasSecurityRights" ng-click="c.requestControl()">Request Control</button>
                    <button class="btn btn-primary" ng-if="c.hasSecurityRights && !c.isDefaultRoom" ng-click="c.setDefaultRoom()">Set as Default</button>
                    <button class="btn btn-primary" ui-sref="settings">Settings</button>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-background" ng-if="c.isLoading"></div>
    <div class="loading-foreground" ng-if="c.isLoading">
        <big-spinner active="true"></big-spinner>
    </div>
</div>
