// bower-refonly:less
// endbower
.room {
  .loading-background, .loading-foreground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
  }
  .loading-background {
    background-color: black;
    opacity: 0.6;
  }
  .loading-foreground {
  
  }
  .buttons {
    //.btn-group(); - this doesn't fully work (child rules like .btn-group .btn don't get set up :(
    float: right;
    clear: right;
    @media screen and (max-width: 320px) and (max-height: 240px) {
      .btn {
        padding: 20px 25px;
      }
    }
  }
  .date {
    float: right;
    margin-top: 0;
  }
  .current-appointment {
    min-height: 100px;
  }
  .timeline {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    .marker {
      padding-left: 2px;
      padding-top: 8px;
      position: absolute;
      top: 10px;
      bottom: -0px;
      border-left: solid 1px red;
      z-index: -1;
      color: red;
      font-size: 8px;
    }
    .marker.now {
      border-left: none;
      z-index: 1;
      top: 0;
      color: black;
      padding-top: 0;
      font-size: 14px;
      padding-left: 4px;
    }
    .marker.now.now-left {
      border-left: solid 3px yellow;
      padding-left: 4px;
      text-align: left;
    }
    .marker.now.now-right {
      border-right: solid 3px yellow;
      padding-right: 4px;
      text-align: right;
    }

    .progress {
      margin-bottom: 0;
    }
    .progress-bar {
      border-radius: 8px;
    }

    @media screen and (max-width: 320px) and (max-height: 240px) {
      .marker {
        padding-top: 0;
      }
      .marker.now {
        top: -7px;
      }
      position: fixed;
      bottom: 0;
      left: 5px;
      right: 5px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

  .add-meeting-body {
    .btn-group {
      display: inline-block;
      margin-left: 5px;
    }
  }
}