// pull in all the less files exposed by our bower references (like boostrap)
// bower:less
// endbower

@media screen and (max-width: 320px) and (max-height: 240px) {
  .navbar {
    display: none;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}