// bower-refonly:less
// endbower

@import "../variables.less";

.find-room {
  .loading-background, .loading-foreground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
  }
  .loading-background {
    background-color: black;
    opacity: 0.6;
  }
  
  .calendar-area {
      position: absolute;
      top: 50px;
      bottom: 0;
      right: 0;
      left: 0;
    background: @darkBlue;
    .calendar {
        position: absolute;
        top: 50px;
        right: 15px;
        bottom: 15px;
        left: 15px;
    }
  }
    
}