<div class="find-room">
    <header data-title="Find a room"></header>
    
    <div class="search">
        <div class="container-fluid">
            <div class="form-inline">
                <div class="form-group">
                    <label for="minSize">Size</label>
                    <number-slider selected-number="c.search.minSize" allowed-numbers="c.sizeChoices"></number-slider>
                </div>
                <div class="form-group">
                    <label for="equipment">Equipment</label>
                    <div class="btn-group equipment-picker">
                        <button class="btn" ng-repeat="e in c.equipmentChoices" ng-click="c.toggleEquipment(e)" ng-class="{ 'active': c.equipmentSelected(e) }" title="{{ e.text }}">
                            <span ng-repeat="icon in e.icons" ng-switch on="$index !== 0">
                                <span ng-switch-when="true">/</span>
                                <span ng-class="icon"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="form-group" ng-if="c.locationChoices.length > 1">
                    <label for="location">Location</label>
                    <select class="form-control" id="location" ng-model="c.search.location" ng-options="item.id as item.text for item in c.locationChoices"/>
                </div>
            </div>
        </div>
    </div>
    
    <div class="calendar-area">
        <simple-calendar calendars="c.searchResults" show-titles="true" click="c.showDetails(meeting)" click-header="c.showRoomDetails(calendar)"></simple-calendar>

        <div class="loading-background" ng-if="c.isLoading"></div>
        <div class="loading-foreground" ng-if="c.isLoading">
            <big-spinner active="true"></big-spinner>
        </div>
    </div>
</div>