<div class="simple-calendar" ng-class="{ 'has-multiple': calendars.length !== 1, 'has-titles': showTitles }">
    <div class="h-scrollable">
        <div class="top"
            ng-repeat="calendar in calendars"
            ng-class="{ 'first-top': $index === 0 }" 
            ng-style="{ left: ($index * 220) }">
            <h3 class="title" ng-if="showTitles">{{ calendar.DisplayName }}</h3>
            <div class="status" ng-class="freeBusy(calendar)">{{ status(calendar) }}</div>
       </div>
    </div>
    <div class="v-scrollable">
        <div class="times">
            <div class="time" 
                ng-repeat="hour in hours" 
                ng-style="{ top: getOffset(hour) - 9 }">{{ formatHour(hour) }}</div>
            <div class="time-line" 
                ng-repeat="hour in hours"
                ng-style="{ top: getOffset(hour) }"></div> 
        </div>
        <div class="current-line" ng-style="{ top: getOffset(now) }"></div>
        <div class="h-scrollable" ng-style="{ height: vHeight }">
            <div class="data" ng-repeat="calendar in calendars"
                ng-class="{ 'first-data': $index === 0 }" 
                ng-style="{ left: ($index * 220) }">
                <div class="event" 
                    ng-repeat="evt in calendar.Events"
                    ng-style="styles(evt)"
                    >
                    {{ evt.Organizer }}
                </div>
            </div>
        </div>
    </div>
</div>
