@{ ViewBag.Title = "Home"; }

<div class="jumbotron">
    <div class="container">
        <h1>Room Ninja Administration</h1>
        <p>Use the menu options above to control the settings.</p>
    </div>
</div>