@using RightpointLabs.ConferenceRoom.Domain.Models
@model IEnumerable<RoomEquipment>

<ul class="enum-options">
    @foreach (RoomEquipment v in Enum.GetValues(typeof(RoomEquipment)))
    {
        var chk = (Model ?? new RoomEquipment[0]).Contains(v) ? @"checked=""checked""" : "";
        if (v == RoomEquipment.None)
        {
            continue;
        }
        <li>
            <input id="equipment-@v" name="@(Html.NameForModel())[]" type="checkbox" value="@v" @chk>
            <label for="equipment-@v">@v.GetDisplayName()</label>
        </li>
    }
</ul>
