<div class="settings">
    <div class="settings-body">
        <div class="locked" ng-if="c.isLocked">
            <button ng-if="!c.isUnlocking" ng-click="c.unlock()" class="btn"><span class="glyphicon glyphicon-lock"></span> Unlock</button>
            <span ng-if="c.isUnlocking"><span class="glyphicon glyphicon-refresh"></span></span>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <label>Small screen mode: 
                    <button class="btn" ng-click="c.settings.isSmallScreen = !c.settings.isSmallScreen">{{ c.settings.isSmallScreen ? 'Enabled' : 'Disabled' }}</button>
                </label>
            </li>
            <li class="list-group-item">
                <label>Room:
                    <span ng-if="!!c.settings.defaultRoom">{{ c.settings.defaultRoom}} <span ng-if="!c.isAuthorized">(waiting for access)</span></span>
                    <span ng-if="!c.settings.defaultRoom">Not set</span>
                    <button class="btn" ng-click="c.pickRoom()">Change</button>
                </label>
            </li>
            <li class="list-group-item">
                <label>Battery Status:
                    <battery-meter></battery-meter>
                </label>
            </li>
        </ul>
    </div>
    <div class="settings-nav">
        <a ui-sref="home"><span class="glyphicon glyphicon-home"></span> Home</a>
        <a href ng-click="c.reload()"><span class="glyphicon glyphicon-refresh"></span> Reload</a>
    </div>
</div>
