// bower-refonly:less
// endbower

@import "../../variables.less";

.header {
    height: 60px;
    margin: 0 -15px;
    background: @white;
    .title {
        margin-top: 26px;
        margin-left: 19px;
        font-size: 30px;
        float: left;
        color: @dark-indigo;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 32px;
        line-height: 0.4;
    }
    .navigation {
        span, a, a:link, a:hover, a:visited, a:active {
            color: @dark-blue;
            line-height: 0.7em;
        }
        span {
            top: 1px;
            margin-right: 5px;
            font-size: 26px;
        }
        float: right;
        ul, li, a {
            display: inline-block;
        }
        a {
            padding-top: 24px;
            padding-bottom: 24px;
            width: 168px;
            text-align: center;
            margin-left: 35px;

            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: bold;
            text-decoration: none !important;
        }
        .active a {
            background: @white-two;
        }
    }
}