<?xml version="1.0"?>
<appSettings>
  <add key="useImpersonation" value=""/>
  <add key="impersonateForAllCalls" value=""/>
  <add key="username" value=""/>
  <add key="password" value=""/>
  <add key="serviceUrl" value=""/>
  <add key="ignoreFree" value=""/>
  <add key="noDeleteOnCancel" value=""/>
  <add key="concurrencyLimit" value="1"/>
  <add key="settingsSecurityCode" value=""/>
</appSettings>