<?xml version="1.0"?>
<appSettings>
  <add key="ida:ClientId" value="GUID" />
  <add key="ida:Tenant" value="example.com" />
  <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
  <add key="ida:Audience" value="http://localhost:63915/" />
  <add key="TokenIssuer" value="conference-room"/>
  <add key="TokenKey" value="run Convert.ToBase64String(new RSACryptoServiceProvider(N).ExportCspBlob(true)) to generate a value to put here (where N is 2048 or higher)"/>
</appSettings>